@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@300;400&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

body{font-family: 'Montserrat', sans-serif;}
.row {max-width : 1170px; margin: 0 auto; padding: 0 10px;}


/* 멤버십 탑 */
.toppic{
    height: 350px; width:100%;
    background: url(../image/parallax-bg16.jpg) no-repeat;
    background-position: 0 30%;
    background-size: cover;
    position: relative;
}
.toppic > div{
    color: #fff;
    text-align: center;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%);
    z-index:99;
}
.toppic h2{
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.toppic p{ line-height: 1.5; color:#bbb; font-size: 14px;}
.toppic:after{
    content:'';
    position:absolute;
    top:0; bottom:0; right:0; left:0;
    background: rgba(0,0,0,0.5);
}



/* 회원가입 */
.toppic{
    height: 350px; width:100%;
    background: url(../image/parallax-bg16.jpg) no-repeat;
    background-position: 0 30%;
    background-size: cover;
    position: relative;
}
.toppic:after{
    content:'';
    position:absolute;
    top:0; bottom:0; right:0; left:0;
    background: rgba(0,0,0,0.5);
}

/* 이용약관 */
#section{ font-family: 'Noto Sans KR', sans-serif;}
legend{display:none;}

.memBox{ padding: 80px 0;}
.memBox h2{font-size: 30px; padding-bottom: 40px; font-weight: bold; color:#333; letter-spacing: 3px; }
.memBox h3{font-size: 18px; padding: 20px 0; color:#777; font-weight: bold; letter-spacing: 1px;}

.memBox .agree{background: #eee; padding: 20px}
.memBox .agree > div{ background: #fff;
    font-weight: lighter;
    height: 250px; overflow-y: auto;
    line-height: 1.4; padding:10px;
    margin-bottom: 20px;
}
.memBox .agree p input{margin-left: 10px;}
.memBox .btn{text-align: center;}
.memBox .btn button{width:100px; height:60px;
    border:none; background:#2c3546;
    margin:30px 10px; border-radius: 50px;
    color: #fff; font-size:18px;
    letter-spacing: 1px;
    cursor:pointer;

}


.memBox textarea { 
    width:80%; height:100px; 
    border:1px solid #ddd; 
    padding:10px; 
}

/* 기본정보 */
.memBox col:nth-child(1){
    width:20%;
    background: #eee; 
}
.memBox col:nth-child(2){
    width:80%;
}

.memBox th, .memBox td{
    border:1px solid #ddd; padding: 10px;
    text-align: left;
    vertical-align: middle;
    line-height: 1.4;
}
.memBox input[type='text'], .memBox select{
    height: 25px; border:1px solid #ddd; text-indent: 1em; vertical-align: middle;
}
.memBox select{text-indent: 0em;}
.memBox #hp1, .memBox #hp2{ width: 100px}
.memBox #addr3{ width: 410px}
.memBox #female{margin-left: 10px;}


